body{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    align-items: center;
}

.panel{
    margin: 20px;
    padding: 20px;
    border: 1px solid #999;

}

.model_info input{
    font-size: 30px;
}

.model_info{
    font-size: 30px;

}

.header{
    margin: 15px;
}

.input button{
    font-size: 20px;
    border-radius: 10px;
}

.panel_input button{
    font-size: 20px;
    border-radius: 8px;
    margin-left: 10px;
}

.panel_input{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.td_button_block{
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;

}

.td_button_block button{
    font-size: 15px;
    border-radius: 10px;
    margin-right: 10px;
}

.panel table{
    font-size: 25px;

}

.panel td{
    padding: 5px 10px;
    width: 50%;
}

.panel_area{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.article_block{
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    width: 900px;
    word-wrap:break-word;

}

.article_block img{
    width: 900px;
    height: 100%;
    align-content: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}